/* @override 
	http://media.underlist.net/static/css/screen.css
	http://underlist.herokuapp.com/static/css/screen.css
*/

html, body {
	background: #f5f5f5 url('../img/retina_dust.png') fixed;
}

body {
	color: #333;
}
