{% extends 'base.html' %}

{% block header %}
<h2 class="alpha">Genres</h2>
{% endblock %}


{% block content %}
<ul id="list" class="unstyled">
	{% for genre in objects %}
    <li>
        <a href="{% url browse_games_by_genres genre.id %}" title="{{ genre.name|safe }}"><span class="genrename">{{ genre.name|safe|truncatechars:43 }}</span> <i>{{ forloop.counter }}</i>
        <span class="date added">{{ genre.date_last_updated|date:"F jS, Y" }}</span></a>
    </li>
	{% endfor %}
</ul>
{% endblock %}