{% extends 'base.html' %}


{% block header %}
<header id="profile">
	<img id="avatar" width="32" height="32" src="https://secure.gravatar.com/avatar/{{ email_hash }}?s=50"> <h2>{{ user_obj }}</h2>
</header>
{% endblock %}


{% block content %}
<ul id="list" class="unstyled">
	{% for game in games_list %}
    <li>
        <a href="#" title="{{ game.game.name|safe }}"><span class="gamename">{{ game.game.name|safe }}</span> <i>{{ forloop.counter }}</i>
        <span class="date added">{{ game.added|date:"F jS, Y" }}</span></a>
    </li>
	{% endfor %}
</ul>
{% endblock %}