{% extends 'base.html' %}

{% block content %}
	
	<<!--
	underlist = {{ game_obj }} <br />
	giantbomb = {{ giantbomb_obj.name }}<br />
	giantbomb_deck = {{ giantbomb_obj.deck }}<br />
	giantbomb_image =  {{ giantbomb_obj.image.super }}
	-->

	{% if giantbomb_obj.image.super %}
	<div class="gamebox">
	<img src="{{ giantbomb_obj.image.super }}" />
	</div>
	{% endif %}

	<h2>{{ game_obj }} <small>({{ game_obj.release_date|date:"Y" }})</small></h2>

	{% if giantbomb_obj.deck %}
	<h3>Description</h3>
	{{ giantbomb_obj.deck }}
	{% endif %}

	{% if game_obj.developers %}
	<h3>Developer</h3>
		{% for d in game_obj.developers.all %}
		<a href= "#">{{ d }}</a>
		{% endfor %}
	{% endif %}

	{% if game_obj.publishers %}
	<h3>Publisher</h3>
		{% for p in game_obj.publishers.all %}
		<a href= "#">{{ p }}</a>
		{% endfor %}
	{% endif %}

	{% if game_obj.platforms %}
	<h3>Platforms</h3>
		{% for p in game_obj.platforms.all %}
		<a href= "#">{{ p }}</a>
		{% endfor %}
	{% endif %}

{% endblock %}